html,
body {
    width: 100%;
    min-height: 100%;
}

.item {
    float: left;
    position: relative;
    padding: 20px 20px 50px;
    margin: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 300px;
    height: 350px;
}
.btn-action {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #ccc;
    width: calc(100% - 40px);
}


/* Add Task */
.add-task {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -150px;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 3px;
    width: 300px;
    height: 350px;
    z-index: 1;
    display: none;
}

a.btn[data-status="Activate"] {
    background-color: #ccc;
    border-color: #aaa;
}

a.btn[data-status="Complete"] {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn[data-orderby="active"] {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}


.btn[data-order]:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
}

.btn[data-order="ASC"]:after {
    border-top: 8px solid #666;
    border-bottom: none;
}

.btn[data-order="DESC"]:after {
    border-bottom: 8px solid #666;
    border-top: none;
}

/* Overlay */
#overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}